#secret files
.env
*.env

#personal files
.backend_compatibility_analysis.md
.bidirectional_request_bug_fix.md
.bidirectional_request_complete_fix.md
.comprehensive_technical_analysis.md
.corrected_backend_analysis.md
.flutter_backend_alignment_analysis.md



# Firebase configuration files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Miscellaneous
.gradle
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
