<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlWNyFVnALxCEpQEvUuUIQSWrgK73xFuM</string>
	<key>GCM_SENDER_ID</key>
	<string>137087542709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skybertech.hef</string>
	<key>PROJECT_ID</key>
	<string>hef-app-f825a</string>
	<key>STORAGE_BUCKET</key>
	<string>hef-app-f825a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137087542709:ios:5eae6773601e27a1ffa5fc</string>
</dict>
</plist>